<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Testimonialv2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <div class="min-h-full">
    <% if current_user %>
      <% if show_index_nav? %>
        <%= render 'layouts/navbar' %>
      <% end %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div data-controller="flash-visibility">
        <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 hidden lg:block fixed top-10 right-10">
          <div class="p-4">
            <div class="flex items-start">
              <div class="flex-shrink-0">
                <% if message_type == 'notice' %>
                  <i class="material-icons cursor-pointer text-green-500">check_circle</i>
                <% elsif message_type == 'alert' %>
                  <i class="material-icons cursor-pointer text-red-500">priority_high</i>
                <% elsif message_type == 'success' %>
                  <i class="material-icons cursor-pointer text-green-500">check_circle</i>
                <% elsif message_type == 'error' %>
                  <i class="material-icons cursor-pointer text-green-500">check</i>
                <% end %>
              </div>
              <div class="ml-3 w-0 flex-1 pt-0.5">
                <p class="mt-1 text-sm text-gray-500"><%= message %></p>
              </div>
              <div data-action= "click->flash-visibility#toggleFleshMessages" class="ml-4 flex flex-shrink-0">
                <button type="button" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                  <span class="sr-only">Close</span>
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <body class="h-full bg-gray-50">
    <div class="<%= show_index_nav? ? 'py-10' : '' %>">
      <main>
        <div class="<%= show_index_nav? ? 'mx-auto max-w-7xl sm:px-6 lg:px-8' : '' %>">
          <%= yield %>
        </div>
      </main>
    </div>
    </body>
  </div>
</html>
